<html>
    <head>
    </head>
	<title>Spring boot and thymeleaf</title>
  <body id ="body1" ng-app="app" ng-controller="myCtrl">
      <script type="text/javascript" src="./js/angular.min.js"></script>
	    <script src="js/jquery.min.js"></script>
      <script type="text/javascript" src="./index.js"></script>
      <img id="qrcode" width="500px" height="500px" />
	<table>
		<tr>
			<th></th>
			<th>NickName</th>
			<th>RemarkName</th>
		</tr>
		<tr ng-repeat="data in array">
		    <td><input type="checkbox" value="{{data.UserName}}"/></td>
		    <td>{{data.NickName}}</td>
		    <td>{{data.RemarkName}}</td>
		</tr>
	</table>
	<textarea rows="" cols="" ng-model="msg">content</textarea>
	<button ng-click="sent()">send</button>
</body>
</html>
