<html>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
    <script type="text/css">
     img{
         position:absolute;
         left:100px;
         top:150px
     }
    </script>
	<title>Spring boot and thymeleaf</title>
	<script src="js/jquery.min.js"></script>
	<script src="js/angular.min.js"></script>
<body ng-app="app" ng-controller="myCtrl">
    <img id="qrcode" width="500px" height="500px" />
	<table>
		<tr>
			<th></th>
			<th>NickName</th>
			<th>RemarkName</th>
		</tr>
		<tr ng-repeat="data in array">
		    <td><input type="checkbox" value="{{data.UserName}}"/></td>
		    <td>{{data.NickName}}</td>
		    <td>{{data.RemarkName}}</td>
		</tr>
	</table>
	<textarea rows="" cols="" ng-model="msg">content</textarea>
	<button ng-click="sent()">send</button>
</body>


    <script>
         var base_uri = location.origin;
         var qcode_src = location.origin + '/getUUID?' + new Date().getTime();
         var uuid;
         document.getElementById('qrcode').src = qcode_src
         var time_priod;
         var base_request;
         var flag = false;
         var init;
         var contact;
             var app = angular.module("app", []);

             app.controller('myCtrl', function($scope, $http, $location) {
                  $scope.getConstact = function() {
                       $.get('/getConstact', {pass_ticket:base_request.pass_ticket, skey:base_request.Skey}, function(data){
                       console.log(data);
                       contact = data;
                       $scope.array = JSON.parse(contact); 
                       $scope.$apply();
                 })
                  }
                	$scope.sent = function(){
                  		var cks = $("input[type=checkbox]:checked");
		                  var str = "";
		                  $.each(cks,function(index,value){
                          sendMessage($scope.msg, $(value).val())
		                  })
	                }

             });
            function sendMessage(message, toUserName){
                 var user_name = JSON.parse(init).User.UserName;
var target = "";
                 console.log('toUserName' + toUserName);
                 $.get('/send_msg',{message: message, user_name : user_name, to_user_name: toUserName, pass_ticket: base_request.pass_ticket,base_request: sessionStorage.getItem('base_request')}, function(data){
                     console.log(data);
                 })
             }
            function getTicket(redirect_uri) {
                 $.post(base_uri + "/isLogin", {redirect_uri:redirect_uri}, function(data){
                     console.log(data);
                     base_request = JSON.parse(data);
                     sessionStorage.setItem('base_request', data);
                     webwxinit()
                 })
             }



            function webwxinit() {
                 $.get('/aaa', {pass_ticket:base_request.pass_ticket, skey:base_request.Skey,base_request:sessionStorage.getItem('base_request')}, function(data){
                     var appElement = document.querySelector('[ng-controller=myCtrl]');
                     var $scope = angular.element(appElement).scope(); 
                     $scope.getConstact();
                     init = data;
                     console.log(data)
                 })
             }


     (function() {
             $.get(qcode_src,function(data, status){
             console.log(data);
             console.log(status);
             uuid = data;
             document.getElementById('qrcode').src = "https://login.weixin.qq.com/qrcode/" + data + "?t=webwx&_=" + new Date().getTime();
             time_priod= setInterval(confirmLogin, 1000);
         })

         function confirmLogin(){
             $.get("/isScan/" + uuid , function(data, status){
                 if(data == "window.code=408;") {
                     console.log("timeout");
                 }
                 if(data == "window.code=201;") {
                    console.log("wait for confirm...");
                 }
                 if(data.indexOf("200") > -1) {
                     console.log("login Success");
                     clearInterval(time_priod);
                     if (!flag) {
                         flag = true;
                         getTicket(data.substring(data.indexOf("https"),data.length -3));
                     }
                 }
             })

         }
         
           
     })()
    </script>
</html>
