<html>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery/jquery-1.4.min.js"></script>
    <script type="text/css">
     img{
         position:absolute;
         left:100px;
         top:150px
     }
    </script>
    <body>
        <img id="qrcode" width="500px" height="500px" />
        
    </body>
    <script>
     (function() {
         var base_uri = location.origin;
         var qcode_src = location.origin + '/getUUID?' + new Date().getTime();
         var uuid;
         document.getElementById('qrcode').src = qcode_src
         var time_priod;
         var base_request;
         $.get(qcode_src,function(data, status){
             console.log(data)
             console.log(status)
             uuid = data;
             document.getElementById('qrcode').src = "https://login.weixin.qq.com/qrcode/" + data + "?t=webwx"
             time_priod= setInterval(confirmLogin, 1000);
         })

         function confirmLogin(){
             $.get("/isScan/" + uuid , function(data, status){
                 if(data == "window.code=408;") {
                     console.log("timeout");
                 }
                 if(data == "window.code=201;") {
                    console.log("wait for confirm...");
                 }
                 if(data.indexOf("200") > -1) {
                     console.log("login Success")
                     clearInterval(time_priod);
                     getTicket(data.substring(data.indexOf("https"),data.length -3));
                 }
             })

             function getTicket(redirect_uri) {
                 $.post(base_uri + "/isLogin", {redirect_uri:redirect_uri}, function(data){
                     console.log(data);
                     base_request = JSON.parse(data);
                     sessionStorage.setItem('base_request', data);
                     webwxinit()
                 })
             }

             function getConstact() {
                 $.get('/getConstact', {pass_ticket:base_request.pass_ticket, skey:base_request.Skey}, function(data){
                     console.log(data);
                     console.log(data.MemberList);
                 })
             }
             
             function webwxinit() {
                 $.get('/webwxinit', {pass_ticket:base_request.pass_ticket, skey:base_request.Skey,base_request:sessionStorage.getItem('base_request')}, function(data){
                     console.log(data)
                     getConstact();
                 })
             }

             function sendMessage(){
                 $.post('/sendMessage', {'message':message, user_name: user_name}, function(data){
                     console.log(data)
                 })
             }

         }
         
           
     })()
    </script>
</html>
