<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Spring boot and thymeleaf</title>
	<script src="js/jquery.min.js"></script>
	<script src="js/angular.min.js"></script>
</head>
<body ng-app="app" ng-controller="myCtrl">
	<table>
		<tr>
			<th></th>
			<th>昵称</th>
			<th>备注</th>
		</tr>
		<tr ng-repeat="data in array">
			<td><input type="checkbox" value="{{data.RemarkName}}"/></td>
			<td>{{data.NickName}}</td>
			<td>{{data.RemarkName}}</td>
		</tr>
	</table>
	<textarea rows="" cols="" ng-model="msg">我是信息</textarea>
	<button ng-click="sent()">发送</button>
</body>

<script type="text/javascript">
var array = [
 {
	NickName:'zengfeng',
	RemarkName:'增风',
	UserName:'asdadad'
},{
	NickName:'hujiang',
	RemarkName:'花匠',
	UserName:'rewrf'
}
 ]
 var app = angular.module("app",[]);
app.controller('myCtrl', function($scope, $http, $location) {
	$scope.array = array;
	
	$scope.sent = function(){
		var cks = $("input[type=checkbox]:checked");
		var str = "";
		$.each(cks,function(index,value){
			str=str+$(value).val()+"，"
		})
		str = str.substring(0,str.length-1)
		alert("向（"+str+"）发送"+$scope.msg);
	}
})

</script>
</html>